<div class="container">
    
  <p id="notice"><%= notice %></p>  



    <div class="panel-heading"><h1>Listing Products </h1></div>
<div class="panel-body">
    

<div>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
  </div>
<hr>
  <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <table class="table products-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Color</th>
      <th>Price</th>
      <th>Pay</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
<<<<<<< HEAD
        <td class="img_url"><%= product.image_url %></td>
        <td><%= image_tag(product.image_url) %></td>
=======
        <td class="img-url"><%= product.image_url %></td>
        <td class="product-image"><%= image_tag(product.image_url) %></td>
>>>>>>> a73469c02b5f1627f478ad16efb24173d205eecc
        <td><%= product.color %></td>
        <td>$<%= product.price %></td>
        <td><%= form_tag "/payments/create"  do %>
       
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %></td>
        <td><%= link_to 'Show', product, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-success" %></td>
        <% if signed_in? && current_user.admin %>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<br>
</div>

</div>
