<div class="navbar-wrapper lp-wrapper">
<div class="container">
<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Coffee and More</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <% if user_signed_in? %>     
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <% else %>             
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
        <div class="container">
        <%= form_tag("/products", method: "get",class: "navbar-form") do %>
          <%= label_tag(:q, "Search for:", class:"label label-primary") %>
          <%= text_field_tag(:q, "coffee", class:"form-control", id: "tags")%>
          <%= submit_tag("Search", class:"btn btn-primary") %>
        <% end %>
      </div>
      </div>
    <div class="container panel panel-default" id="form" style="display:none">
        <div class="panel-heading">
            <h2>Sign up</h2>
        </div>

        <div class="panel-body container">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                     :html => {:id => "form"},
                     :format => :json,
                     :remote => true  ) do |f| %><%= devise_error_messages! %>
            <div class="form-group">
                <%= f.label :first_name %><br>
                <%= f.text_field :first_name, class: "form-control" , autofocus: true %>
            </div>
            <div class="form-group">
                <%= f.label :last_name %><br>
                <%= f.text_field :last_name, class: "form-control" , autofocus: true %>
            </div>
            <div class="form-group">
                <%= f.label :email %><br>
                <%= f.email_field :email, class: "form-control" , autofocus: true %>
            </div>

            <div class="form-group">
                <%= f.label :password %><% if @minimum_password_length %><em>(<%= @minimum_password_length %>
                characters minimum)</em> <% end %><br>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation %><br>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.submit "Sign up" , class: "btn btn-primary" %>
            </div><% end %>
        </div>

        <div class="panel-footer">
            <%= render "devise/shared/links" %>
        </div>
    </div>

    <script>
  $(document).ready(function() {
    //form id
    $('#form')
    .bind('ajax:success', function(evt, data, status, xhr) {
      //function called on status: 200 (for ex.)
      console.log('success');
    })
    .bind("ajax:error", function(evt, xhr, status, error) {
      //function called on status: 401 or 500 (for ex.)
      console.log(xhr.responseText);
    });
  });</script>

<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("#form").hide();
    });
    $("#show").click(function(){
        $("#form").show();
    });
    $( "#form" ).click(function() {
  $( "#form" ).mouseleave();
});
});
</script>


<button id="hide" class="btn btn-primary">Hide</button>
<button id="show" class="btn btn-primary">Sign Up Now!</button>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container -->
</nav>

</div>
</div> <!-- navbar-wrapper -->